---
let title = "Welcome to Long Nhat Nguyen's site";
let description = "Long Nhat Nguyen's site";
let banner = "https://torn4dom4n.github.io/banner.jpg";
---
<style>
  .skip-nav {
    @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
  }

  #skip {
    scroll-margin-top: 1.125rem;
  }
</style>

<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="favicon.png">
    <meta name="generator" content={Astro.generator} />
  
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title}>
    <meta name="description" content={description}>
  
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={new URL(banner, Astro.url)}>
  
    <!-- Twitter -->
    <meta name="twitter:url" content={Astro.url}>
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={new URL(banner, Astro.url)}>
  </head>

  <body class="bg-black text-white">
    <!--Header -->
    <div class="flex flex-col justify-center">
      <nav class="flex items-center justify-between w-full relative max-w-2xl border-gray-700 mx-auto pt-8 pb-8 sm:pb-16  bg-black bg-opacity-60 text-gray-100">
        <a href="#skip" class="skip-nav">
          Skip to content
        </a>
      </nav>
    </div>
    
    <!--Content -->
    <main class="flex flex-col justify-center min-h-max	px-8 bg-black">
      <div class="flex flex-col justify-center items-start max-w-2xl border-gray-700 mx-auto py-16">
        <div class="flex flex-col-reverse sm:flex-row items-start">
          <div class="flex flex-col pr-8">
            <h1 class="font-bold text-3xl md:text-5xl tracking-tight mb-1 text-white">
              Long Nhat Nguyen
            </h1>
            <h2 class="text-gray-200 mb-4">
              🥰
              <span class="font-semibold">An open source lover</span>
            </h2>
            <p class="text-gray-400 mb-16">
              If we'll ever be remembered, I know it'll be for the way that we love.
            </p>
          </div>
          <div class="w-[80px] sm:w-[176px] relative mb-8 sm:mb-0 mr-auto">
            <img
              alt="Lee Robinson"
              height={176}
              width={176}
              src="/images/avatar.png"
              sizes="30vw"
              class="rounded-full filter grayscale"
            />
          </div>
        </div>
      </div>
    </main>

    <!--Footer -->
    <footer class="flex flex-col justify-center items-start max-w-2xl mx-auto w-full mb-8">
      <hr class="w-full border-1 border-gray-800 mb-8" />
      <div class="w-full max-w-2xl">
        <div class="flex flex-col space-y-4">
          <p class="capsize text-gray-200 font-medium">
            &copy; 2022 Long Nhat Nguyen. All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>