---
import { Image } from 'astro:assets'

import BaseLayout from '@/layouts/BaseLayout.astro'

import { siteConfig } from '@/config'

import { AspectRatio } from '@/components/ui/aspect-ratio'
import { Button } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { Input } from '@/components/ui/input'
import SocialLinks from '@/components/SocialLinks.astro'

import Avatar from '@/assets/avatar.jpg'
import RealLove from '@/assets/real-love-martingarrix-lloyiso.jpg'
import Lexington from '@/assets/lexington.png'
---

<BaseLayout title={siteConfig.name} description={siteConfig.description}>
  <main class="flex-auto p-4">
    <div
      class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <Card className="p-8 lg:row-span-2">
        <CardHeader>
          <div class="relative flex items-center gap-x-4">
            <Image
              src={Avatar}
              alt="My name is Long Nhat Nguyen"
              class="size-12 rounded-full"
            />
            <p class="text-sm font-semibold leading-6 text-primary">
              <span class="absolute inset-0"></span>
              Long Nhat Nguyen
            </p>
          </div>
        </CardHeader>
        <CardContent>
          <p
            class="mt-6 text-3xl font-medium tracking-tight text-primary lg:text-4xl"
          >
            Hello humans,
          </p>
          <p class="mt-4 text-sm font-light lg:text-xl">
            My name is Long Nhat Nguyen. Music and photography have always been
            my passions, filling my life with joy and creativity. Recently, I
            have discovered an interest in programming that has captivated me.
            Although my knowledge in programming is limited, I find great
            enjoyment in exploring this fascinating field.
          </p>
        </CardContent>
      </Card>

      <Card className="flex h-full flex-col items-center justify-between p-8">
        <CardHeader className="w-full">
          <CardTitle
            className="text-xl font-normal tracking-tight text-primary lg:text-8xl"
          >
            Find me on
          </CardTitle>
        </CardHeader>
        <CardContent className="w-full">
          <SocialLinks />
        </CardContent>
      </Card>

      <Card
        className="group flex h-full flex-col justify-between p-8 md:grid md:grid-cols-2 md:items-center md:gap-12 lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-2 lg:grid-cols-none lg:gap-0"
      >
        <CardHeader>
          <CardTitle
            className="font-medium tracking-tight text-primary md:text-6xl"
          >
            Music
          </CardTitle>
          <CardDescription className="mt-4 text-sm">
            Music has always been a constant source of inspiration in my life.
            It has the power to transport me to different worlds, evoke a range
            of emotions, and provide solace during challenging times. Whether
            I'm listening to a catchy pop song, losing myself in the intricate
            melodies of classical compositions, or immersing myself in the raw
            and heartfelt lyrics of a singer-songwriter, music has the ability
            to touch my soul like nothing else. It has taught me the importance
            of self-expression, allowed me to connect with others on a deeper
            level, and provided a soundtrack to my most cherished memories.
            Music has not only shaped my identity but has also become an
            integral part of who I am as a person. It has given me the courage
            to pursue my dreams, overcome obstacles, and celebrate the beauty of
            life.
          </CardDescription>
        </CardHeader>
        <CardContent>
          <a href="https://www.youtube.com/watch?v=aDNRphs9MiY" target="_blank">
            <AspectRatio ratio={1 / 1}>
              <Image src={RealLove} alt="This is Real Love" />
            </AspectRatio>
          </a>
        </CardContent>
      </Card>

      <Card
        className="flex flex-col items-center justify-between overflow-hidden p-8 text-center lg:text-left"
      >
        <CardHeader>
          <CardTitle
            className="text-xl tracking-tight text-primary lg:text-7xl"
          >
            My location!
          </CardTitle>
          <CardDescription className="mt-4 text-sm md:max-w-xs lg:max-w-none ">
            Unlock the doors to explore the worlds.
          </CardDescription>
        </CardHeader>
        <CardContent>
          <Button>
            <a
              href="https://www.google.com/mymaps/viewer?mid=1xUZVtJ6FSuD6N9Ta8pDfmiz-3PI&hl=de"
              target="_blank"
            >
              VietNam
            </a>
          </Button>
        </CardContent>
      </Card>

      <Card
        className="relative flex h-full flex-col items-center justify-center overflow-hidden p-8 lg:row-start-3"
      >
        <CardContent>
          <svg
            class="h-24 w-24 lg:h-48 lg:w-48 xl:h-64 xl:w-64"
            viewBox="0 0 90 90"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1_136)">
              <path
                d="M45 45.5C45 42.9804 46.0009 40.5641 47.7825 38.7825C49.5641 37.0009 51.9804 36 54.5 36C57.0196 36 59.4359 37.0009 61.2175 38.7825C62.9991 40.5641 64 42.9804 64 45.5C64 48.0196 62.9991 50.4359 61.2175 52.2175C59.4359 53.9991 57.0196 55 54.5 55C51.9804 55 49.5641 53.9991 47.7825 52.2175C46.0009 50.4359 45 48.0196 45 45.5Z"
                fill="#1ABCFE"></path>
              <path
                d="M26 64.5C26 61.9804 27.0009 59.5641 28.7825 57.7825C30.5641 56.0009 32.9804 55 35.5 55H45V64.5C45 67.0196 43.9991 69.4359 42.2175 71.2175C40.4359 72.9991 38.0196 74 35.5 74C32.9804 74 30.5641 72.9991 28.7825 71.2175C27.0009 69.4359 26 67.0196 26 64.5V64.5Z"
                fill="#0ACF83"></path>
              <path
                d="M45 17V36H54.5C57.0196 36 59.4359 34.9991 61.2175 33.2175C62.9991 31.4359 64 29.0196 64 26.5C64 23.9804 62.9991 21.5641 61.2175 19.7825C59.4359 18.0009 57.0196 17 54.5 17H45Z"
                fill="#FF7262"></path>
              <path
                d="M26 26.5C26 29.0196 27.0009 31.4359 28.7825 33.2175C30.5641 34.9991 32.9804 36 35.5 36H45V17H35.5C32.9804 17 30.5641 18.0009 28.7825 19.7825C27.0009 21.5641 26 23.9804 26 26.5V26.5Z"
                fill="#F24E1E"></path>
              <path
                d="M26 45.5C26 48.0196 27.0009 50.4359 28.7825 52.2175C30.5641 53.9991 32.9804 55 35.5 55H45V36H35.5C32.9804 36 30.5641 37.0009 28.7825 38.7825C27.0009 40.5641 26 42.9804 26 45.5V45.5Z"
                fill="#A259FF"></path>
            </g>
            <defs>
              <clipPath id="clip0_1_136">
                <rect
                  width="38"
                  height="57"
                  fill="white"
                  transform="translate(26 17)"></rect>
              </clipPath>
            </defs>
          </svg>
          <p class="mt-6 text-center text-xl text-primary lg:text-2xl">Figma</p>
        </CardContent>
      </Card>

      <Card className="overflow-hidden p-8 lg:row-span-2">
        <a href="https://lexingtonthemes.com" target="_blank">
          <CardHeader>
            <CardTitle className="-mr-24">
              <Image
                src={Lexington}
                class="bg-tertiary h-64 w-full rounded-2xl object-cover ring-1 ring-primary/5 lg:h-auto dark:ring-white/10"
                alt="Lexington"
              />
            </CardTitle>
          </CardHeader>
          <CardContent>
            <div class="mt-8">
              <div class="flex flex-wrap">
                <div class="flex items-center text-sm font-medium text-primary">
                  <svg
                    class="size-4 flex-none stroke-current"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    viewBox="0 0 100 100"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                      fill="currentColor"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                      fill="#d94dd1"
                      stroke="#d94dd1"></path>
                  </svg>
                  <span class="ml-2.5">Astro</span>
                </div>
                <div
                  class="ml-6 flex items-center text-sm font-medium text-primary"
                >
                  <svg
                    viewBox="0 0 256 154"
                    aria-label="Tailwind CSS"
                    class="h-4 w-4 flex-none stroke-current"
                    width="64"
                    height="64"
                    astro-icon="logos:tailwindcss-icon"
                  >
                    <path
                      fill="#38bdf9"
                      d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                    ></path>
                  </svg>
                  <span class="ml-2.5">Tailwind CSS</span>
                </div>
              </div>
              <p
                class="mt-6 font-medium tracking-tight text-primary md:text-5xl"
              >
                Lexington
              </p>
              <p class="mt-4 text-sm font-light">
                Free and premium multipage themes and UI Kits for freelancers,
                developers, businesses, and personal use. Beautifully crafted
                with Astro.js, and Tailwind CSS — Simple & easy to customise.
              </p>
            </div>
          </CardContent>
        </a>
      </Card>

      <Card
        className="relative flex h-full flex-col items-center justify-center overflow-hidden p-8 lg:col-span-2 lg:row-start-4"
      >
        <CardHeader>
          <CardTitle
            className="text-center text-xl font-medium tracking-tight text-primary md:text-6xl"
          >
            Send me <span class="lg:block">a letter</span>
          </CardTitle>
        </CardHeader>
        <CardContent>
          <div class="flex w-full max-w-sm items-center space-x-2">
            <Input type="email" placeholder="Email" />
            <Button type="submit">Send</Button>
          </div>
        </CardContent>
      </Card>

      <Card className="flex h-full flex-col justify-between p-8 lg:row-start-4">
        <CardHeader>
          <CardTitle
            className="text-xl font-medium tracking-tight text-primary md:text-4xl"
          >
            Thanks to
          </CardTitle>
        </CardHeader>
        <CardContent className="gap-6 md:grid md:grid-cols-2 lg:grid-cols-1">
          <div class="mt-4">
            <p class="text-sm text-orange-500 dark:text-orange-300">
              "Beautifully designed components that you can copy and paste into
              your apps. Accessible. Customizable. Open Source."
            </p>
            <p class="mt-2 text-xs text-zinc-400">
              <span class="block text-xs">Shadcn</span>
              <span class="block text-xs">Developer</span>
            </p>
          </div>
          <div class="mt-4">
            <p class="text-sm text-pink-500 dark:text-pink-400">
              "PrimaPersona is made up of one landing page enabling you and
              excellent way to showcase your work."
            </p>
            <p class="mt-2 text-xs">
              <span class="block text-xs">Michael Andreuzza</span>
              <span class="block text-xs">Developer</span>
            </p>
          </div>
        </CardContent>
      </Card>

      <Card
        className="flex h-full flex-col justify-between p-8 lg:col-span-2 lg:row-span-2 xl:col-span-1"
      >
        <CardContent
          className="text-xl font-medium tracking-tight text-primary md:text-3xl"
        >
          If We'll Ever Be Remembered I Hope It'll Be For The Way That We Love
          Life Gets Better, We're Together And One Day We'll Smile Looking Down
          From Above I Guess We'll Never Know When Our Time Will Come But If
          We'll Ever Be Remembered I Know It'll Be For The Way That We Love
        </CardContent>
        <CardFooter className="mt-4 text-primary">Long Nhat Nguyen</CardFooter>
      </Card>
    </div>
  </main>
</BaseLayout>
