---
import { Image } from 'astro:assets'

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import RealLove from '@/assets/real-love-martingarrix-lloyiso.jpg'
---

<Card
  className="group flex h-full flex-col justify-between p-8 md:grid md:grid-cols-2 md:items-center md:gap-12 lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-2 lg:grid-cols-none lg:gap-0"
>
  <CardHeader>
    <CardTitle className="font-medium tracking-tight text-primary md:text-6xl">
      Gallery
    </CardTitle>
    <CardDescription className="mt-4 text-sm">
      Living life to the fullest!
    </CardDescription>
  </CardHeader>
  <CardContent className="pt-8">
    <div
      class="z-[1] w-1/2 origin-center rotate-[4deg] transform overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 0"
        width="679"
        height="458"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[2] w-1/2 origin-center rotate-3 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 1"
        width="679"
        height="458"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[2] w-1/2 origin-center rotate-6 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 2"
        width="559"
        height="379"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[2] w-1/2 origin-center -rotate-3 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 3"
        width="559"
        height="379"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[1] w-1/2 origin-center -rotate-1 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 4"
        width="455"
        height="308"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[1] w-1/2 origin-center rotate-6 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 5"
        width="455"
        height="308"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[9] w-[2/1] origin-center rotate-6 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 6"
        width="307"
        height="456"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-10 w-[170px] origin-center overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 7"
        width="307"
        height="456"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[1] w-2/5 origin-center rotate-6 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 8"
        width="559"
        height="379"
        class="rounded-md"
        src={RealLove}
      />
    </div>
    <div
      class="z-[1] w-2/5 origin-center -rotate-6 overflow-hidden rounded-2xl bg-white p-2"
    >
      <Image
        alt="Image 9"
        width="455"
        height="308"
        class="rounded-md"
        src={RealLove}
      />
    </div>
  </CardContent>
</Card>
