---
import { siteConfig } from '@/config'

import { Button } from '@/components/ui/button'
import { Icons } from '@/components/Icons'
---

<div class="mt-6 flex flex-wrap items-center">
  <a
    aria-label="Nhat Nguyen's Gmail"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.email}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.gmail className="size-6" />
      <span class="sr-only">Gmail</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's GitHub"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.github}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.github className="size-6" />
      <span class="sr-only">GitHub</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's YouTube"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.youtube}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.youtube className="size-6" />
      <span class="sr-only">YouTube</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's Facebook"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.facebook}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.facebook className="size-6" />
      <span class="sr-only">Facebook</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's Instagram"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.instagram}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.instagram className="size-6" />
      <span class="sr-only">Instagram</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's X"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.X}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.X className="size-6" />
      <span class="sr-only">X</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's LinkedIn"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.linkedin}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.linkedin className="size-6" />
      <span class="sr-only">LinkedIn</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's Reddit"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.reddit}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.reddit className="size-6" />
      <span class="sr-only">Reddit</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's Pinterest"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.pinterest}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.pinterest className="size-6" />
      <span class="sr-only">Pinterest</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's SoundCloud"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.soundcloud}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.soundcloud className="size-6" />
      <span class="sr-only">SoundCloud</span>
    </Button>
  </a>
  <a
    aria-label="Nhat Nguyen's Mastodon"
    target="_blank"
    rel="noopener noreferrer"
    href={siteConfig.links.mastodon}
  >
    <Button variant="ghost" size="icon" class="size-9 p-0">
      <Icons.mastodon className="size-6" />
      <span class="sr-only">Mastodon</span>
    </Button>
  </a>
</div>
